.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
    background-color: var(--bg-body); /* از پس‌زمینه body پیروی کنه، نه bg-primary */

  flex: 1;
  padding: 2rem;
  background-color: var(--bg-primary);
  overflow-y: auto;
}